.button{
    padding: 8px;
    background-color: rgb(243, 127, 237);
    border: 1px solId rgb(126, 4, 85);
    border-radius: 10px;
}
.button.disabled{
    pointer-events: none;
    background-color: rgb(243, 240, 240);
    border: 1px solId gray;

}